# rules to ignore excutable files
*
!*/
!*.c
!*.cpp
!*.h
!*.hpp
!.gitignore
!*.md

ICPC-Helwan-Extra
.vscode
a.in
a.out
trial
trial.cpp
test_euler.cpp
offline-training/CP_Template/
offline-training/My-CP-Template
